<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/error/404.htm" responseMode="ExecuteURL" />
        </httpErrors>
        <caching>
            <profiles>
                <add extension=".php" policy="DisableCache" kernelCachePolicy="DontCache" duration="00:00:30" />
            </profiles>
        </caching>
        <staticContent>
            <clientCache cacheControlMode="DisableCache" />
        </staticContent>
        <httpProtocol allowKeepAlive="true" />
    </system.webServer>
</configuration>
